.addEventPane {
    background: linear-gradient(180deg, #303F52 0%, #000 100%);
    border-radius: 10px;
    border: 5px solid #5A7699;
    width: 800px;
    height: 900px;
    color: #FFF;
    text-align: center;
    position: fixed;  /* Changed from absolute to fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Center the element */
    z-index: 1000;  /* Ensure it appears above other content */
}
.addEventPane h2{
    margin-bottom: 20px;
    margin-top: 10px;
}
.addMatchBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 15px;
}

.labels{
    margin-top: 10px;
    margin-bottom: 5px;

}

.opponentBox{
    width: 60%;
    background: linear-gradient(180deg, #303F52 0%, #000 100%);
    border: 2px solid #FFF;
    border-radius: 8px;
    margin: 0 auto;
    width: 400px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    color: #FFF;

}

.minsAndConditionBox{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 20px;
}

.minsAndConditionBox div{
    background: linear-gradient(180deg, #303F52 0%, #000 100%);
    border: 2px solid #FFF;
    border-radius: 8px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.matchDescription{
    width:400px;
    height: 200px;
    background: linear-gradient(180deg, #303F52 0%, #000 100%);
    border: 2px solid #FFF;
    border-radius: 8px;
    margin: 0 auto;
    resize: none;
    color: #FFF;
    word-wrap:break-word;
}

.attributeContainer {
    position: relative;
    width: 300px;
    top: 50px;
    margin: 0 auto;
}


.attributeList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 items per row */
    gap: 10px; /* Space between items */
    padding: 0;
    list-style: none;
    justify-content: center;
    margin-top: 25px;
}

.attributeBlock {
    height: 40px;
    width: 100px;
    background: linear-gradient(180deg, #303F52 0%, #000 100%);
    border-radius: 10px;
    border: 1px solid #FFF;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.attributeBlock p {
    margin: 0;
    font-size: 12px;
}


.submitButton,.closeButton{
    position: relative;
    width: 200px;
    height: 30px;
    top: 90px;
    background-color: #5A7699;
    border-radius: 7px;
    border: 1px solid #FFF;
    margin: 0 auto;
}

.closeButton{
background-color: red;
}

.submitContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}


@media only screen and (max-width: 1000px) {
    .addEventPane {
        width: 90%;
        overflow-y: scroll;
    }

    .opponentBox, .matchDescription {
        width: 90%;
    }

    .minsAndConditionBox {
        flex-direction: column;
        gap: 15px;
    }

    .minsAndConditionBox div {
        width: 90%;
        margin: 0 auto;
    }

    .attributeList {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .attributeBlock {
        width: 100%;
    }

    .submitContainer {
        flex-direction: column;
        gap: 15px;
        padding-bottom: 100px;

    }

    .submitButton, .closeButton {
        width: 90%;
        margin: 0 auto;
    }
}