.container{
  border: 1px solid #fdfdfd83;
  border-radius: 10px;
  height: 100vh;  
  width: auto;
  margin: 20px;

}



.subContainer{
  min-width: fit-content;
  margin-top: 10px;
}

.subContainer ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: center;
  list-style: none;  /* Removes bullet points */
  gap: 20px;  /* Space between columns */
}

.containerLeft ul, .containerCenter ul, .containerRight ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  overflow-x: auto;

}


.containerLeft {
  min-width: fit-content;
  width: fit-content;
  border-radius: 5px;
  height: 100%;  /* Take up all available height */
  min-height: 100%;  /* Ensure minimum height is full container */
  text-align: center;
  color: #FFF;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
}

.containerLeft ul{
    overflow-x: auto;
}



.containerCenter {
  min-width: fit-content;
  border: 1px solid #303F52;
  border-radius: 5px;
  height: 100%;
  width: 50vw;
}

.containerRight {
  min-width: fit-content;
  border: 1px solid pink;
  border-radius: 5px;
  height: 100%;
  width: 20vw;
}









.addEventPane{
  width: 800px;
  height: 500px;
  background-color: red;
  border-radius: 10px;
}


.addEvent, .addTraining{
  border-radius: 8px;
  background-color: green;
  width: fit-content;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.addTraining{
  background-color: red;
}

@media only screen and (max-width: 1000px) {

.container{
  height: fit-content;
}
.subContainer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  list-style: none;  /* Removes bullet points */
  gap: 20px;  /* Space between columns */
}




}
